<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="{% static 'styles/vendors/themify-icons/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'styles/vendors/nice-select/nice-select.css'%}">
  <link rel="stylesheet" href="{% static 'styles/vendors/owl-carousel/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'styles/vendors/owl-carousel/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sabre | {% block head_title %}{% endblock %}</title>

    <style>
       
    </style>
</head>
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'img/Logo.png' %}" alt="logo" width="65%"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/{% block uid %}{% endblock %}">Account</a></li>
                        </li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item"><a href="{% url 'cart' %}"><button><i class="ti-shopping-cart"></i><span
                            class="nav-shop__circle">{{cart_items_num}}</span></button></a> </li>
                        <li class="nav-item"><a class="button button-header" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
{% block body %}{% endblock body %}
<footer>
    <div class="footer-area footer-only">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets ">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            We at Sabre aim to provide a user-friendly experience to our customers with an effort to deliver the best service at the cheapest prices.
                        </p>
                        <p>
                            With our huge network of delivery men, we promise to deliver the products as earliest as possible.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'search' %}">Shop</a></li>
                            {% comment %} <li><a href="#">Blog</a></li> {% endcomment %}
                            {% comment %} <li><a href="/user/{% block uid %}{% endblock %}">Account</a></li> {% endcomment %}
                            <li><a href="{% url 'cart' %}">Cart</a></li>
                            {% comment %} <li><a href="#">Contact</a></li> {% endcomment %}
                        </ul>
                    </div>
                </div>
                {% comment %} <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="img/gallery/r1.jpg" alt=""></li>
                            <li><img src="img/gallery/r2.jpg" alt=""></li>
                            <li><img src="img/gallery/r3.jpg" alt=""></li>
                            <li><img src="img/gallery/r5.jpg" alt=""></li>
                            <li><img src="img/gallery/r7.jpg" alt=""></li>
                            <li><img src="img/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div> {% endcomment %}
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                
                                Head Office
                            </p>
                            <p><a href="https://www.google.com/maps/place/Birla+Institute+of+Technology+%26+Science+Pilani,+Hyderabad+Campus/@17.5448939,78.5696493,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb83594a86132d:0xc3e06e9e76cebf3d!8m2!3d17.5448888!4d78.571838">123, BITS Hyderabad, 500078</a></p>

                            <p class="sm-head">
                                
                                Phone Number
                            </p>
                            <p>
                                <a href="tel:123-456-7890">+91 9900727217</a> <br>
                                <a href="tel:123-456-7890">+91 9133445561</a> <br>
                            </p>

                            <p class="sm-head">
                                
                                Email
                            </p>
                            <p>
                               <a href="mailto: dhruvvmerchant07@gmail.com"> dhruvvmerchant07@gmail.com</a> <br>
                               <a href="mailto: dhruvvmerchant07@gmail.com"> Sabre.123@gmail.com</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../static/styles/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/styles/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../static/styles/vendors/skrollr.min.js"></script>
<script src="../static/styles/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/styles/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="../static/styles/vendors/jquery.ajaxchimp.min.js"></script>
<script src="../static/styles/vendors/mail-script.js"></script>
<script src="../static/styles/js/main.js"></script>
<script src="../static/styles/js/temp.js"></script>



<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<body>

</body>

</html>