 {% extends 'base.html' %}

{% block head_title %}Cart{% endblock head_title %}
{% block uid %}{{ uid }}{% endblock uid %}
{% block body %}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.1}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>₹{{item.3}}</h5>
                            </td>
                            <td>
                                <h5>x {{item.2}}</h5>
                            </td>
                            <td>
                                <h5>₹{{item.4}} <button title="delete item" style="margin-left:-4rem; float:right; background-color:  #ffe6e6
                                    ; border:2px solid red; color:red; font-weight:bold; border-radius:30%"><a href="/deleteFromCart/{{item.0}}+{{item.5}}" style="color: red">X</a></button></h5>
                                
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>{% if total != None %}₹{{total}}
                                    {% else %}₹0.0{% endif %}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td class="d-none-l">

                            </td>
                            <td class="">

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'search' %}">Continue Shopping</a>
                                    {% if cart_items_num != 0 %}
                                    <a class="primary-btn ml-2" href="/placeOrder">Place Order</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock body %}