{% extends 'base.html' %}

{% block head_title %}Confirmation{% endblock head_title %}
{% block uid %}{{ uid }}{% endblock uid %}
{% block body %}
<section class="order_details section-margin--small">
    <div class="container">
      <p class="text-center billing-alert">Thank you. Your order has been received.</p>
      <div class="row mb-5">
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
          <div class="confirmation-card">
            <h3 class="billing-title">Order Info</h3>
            <table class="order-rable">
              <tr>
                <td>Order number</td>
                <td>: {{order_id}}</td>
              </tr>
              <tr>
                <td>Date</td>
                <td>: {{order_items.0.7}}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>: ₹ {{total}}</td>
              </tr>
              <tr>
                <td> </td>
                <td> </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
          <div class="confirmation-card">
            <h3 class="billing-title">Billing Address</h3>
            <table class="order-rable">
              <tr>
                <td>Locality</td>
                <td>: {{user_detail.4}}, {{user_detail.5}}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>: {{user_detail.6}}</td>
              </tr>
              <tr>
                <td>State</td>
                <td>: {{user_detail.7}}</td>
              </tr>
              <tr>
                <td>PIN code</td>
                <td>: {{user_detail.0}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
          <div class="confirmation-card">
            <h3 class="billing-title">Shipping Address</h3>
            <table class="order-rable">
              <tr>
                <td>Locality</td>
                <td>: {{user_detail.4}}, {{user_detail.5}}</td>
              </tr>
              <tr>
                <td>City</td>
                <td>: {{user_detail.6}}</td>
              </tr>
              <tr>
                <td>State</td>
                <td>: {{user_detail.7}}</td>
              </tr>
              <tr>
                <td>PIN code</td>
                <td>: {{user_detail.0}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="order_details_table">
        <h2>Order Details</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order_items %}
              <tr>
                <td>
                  <p> {{item.2}} </p>
                </td>
                <td>
                  <h5>x {{item.3}}</h5>
                </td>
                <td>
                  <p>₹{{item.5}}</p>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td>
                  <h4>Total</h4>
                </td>
                <td>
                  <h5></h5>
                </td>
                <td>
                  <h4>₹{{total}}</h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
