<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="{% static 'styles/vendors/themify-icons/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'styles/vendors/nice-select/nice-select.css'%}">
  <link rel="stylesheet" href="{% static 'styles/vendors/owl-carousel/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'styles/vendors/owl-carousel/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'styles/styles.css'%}">

    <title>Sabre | Seller Account</title>
</head>
<body>
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="#"><img src="{% static 'img/Logo.png' %}" alt="logo" width="65%"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        </li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item"><a class="button button-header" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="containerc">
    <div class="a">
        <h2 style="margin-left:2rem;">Seller Details</h2>
        <div class="row my-5">
            <div class="order_details_table">
                <table>
                    <tr>
                        <td colspan="3"> <span class="bold">Seller ID:</span><span
                                class="righta">{{ seller.0 }}</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <span class="bold">Name:</span> {{ seller.2 }} </td>
                        <td> <span class="bold">GSTIN:</span> {{ seller.8 }} <span class="tab"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="bold">Email:</span> {{ seller.9 }} </td>
                        <td><span class="bold">Phone no.:</span> {{ seller.10 }} </td>
                    </tr>

                    <tr>
                        <td class="sp"><span class="bold">Address:</span>
                            <p>{{ seller.4 }}, {{ seller.5 }}<br />{{ seller.6 }}, {{ seller.7 }}<br />{{ seller.1 }}</p>
                        </td>
                        <td class="sp">
                        </td>
                        <td class="sp">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="b">
        <div class="order_details_table">
            <h2>Product Sales</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_delivered %}
                        <tr>
                            <td>
                                <p>{{ order.0 }}</p>
                            </td>
                            <td>
                                <h5>x {{ order.1 }}</h5>
                            </td>
                            <td>
                                <p>₹{{ order.2 }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h4>₹{{total}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="b">
        <div class="order_details_table">
            <h2>Add Products</h2>
            <div class="table-responsive">
                <table class="table">
                    <form action="/addProduct/{{sid}}" method="POST">
                        {% csrf_token %}
                        <tr>
                            <th><label for="products">Product</label></th>
                            <th><select id="products" name="products">
                                {% for product in product_list %}
                                <option value="{{ product.0 }}">{{ product.1 }}</option>
                                {% endfor %}
                              </select></th>
                        
                        </tr>
                        <tr>
                            <th><label for="quantity">Quantity</label></th>
                            <th><input type="number" placeholder="Enter quantity" id="quantity" name="quantity"> </th>
                        </tr>
                        <tr>
                            <th><label for="price">Price</label></th>
                            <th><input type="number" placeholder="Enter price" id="price" name="price"> </th>
                        </tr>
                        <tr>
                     
                            <td colspan="4" class="upper"><button type="submit" class="button1"> Submit </button></td>
                        </tr>

                    
                </form>
                </table>
            </div>
        </div>
    </div>
    <div class="b">
        <div class="order_details_table">
            <h2>Update Quantity</h2>
            <div class="table-responsive">
                <table class="table">
                    <form action="/updateQuantity/{{sid}}" method="POST">
                        {% csrf_token %}
                        <tr>
                            <th><label for="products">Product</label></th>
                            <th><select id="products" name="products">
                                {% for product in existing_product %}
                                <option value="{{ product.0 }}">{{ product.1 }}</option>
                                {% endfor %}
                              </select></th>
                        
                        </tr>
                        <tr>
                            <th><label for="quantity">Quantity</label></th>
                            <th><input type="number" placeholder="Enter quantity" id="quantity" name="quantity"> </th>
                        </tr>
                        <tr>
                     
                            <td colspan="4" class="upper"><button type="submit" class="button1"> Submit </button></td>
                        </tr>

                    
                </form>
                </table>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-area footer-only">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets ">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no
                            divided deep moved us lan Gathering thing us land years living.
                        </p>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep
                            moved
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="img/gallery/r1.jpg" alt=""></li>
                            <li><img src="img/gallery/r2.jpg" alt=""></li>
                            <li><img src="img/gallery/r3.jpg" alt=""></li>
                            <li><img src="img/gallery/r5.jpg" alt=""></li>
                            <li><img src="img/gallery/r7.jpg" alt=""></li>
                            <li><img src="img/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>123, Main Street, Your City</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                +123 456 7890 <br>
                                +123 456 7890
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                free@infoexample.com <br>
                                www.infoexample.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../static/styles/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/styles/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../static/styles/vendors/skrollr.min.js"></script>
<script src="../static/styles/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/styles/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="../static/styles/vendors/jquery.ajaxchimp.min.js"></script>
<script src="../static/styles/vendors/mail-script.js"></script>
<script src="../static/styles/js/main.js"></script>
<body>

</body>

</html>