{% extends 'base.html' %}
{% block head_title %}User Account{% endblock head_title %}
{% block body %}
<div class="containerc">
    <div class="a">
        <div class="row my-5">
            <div class="order_details_table">
            <table>
                <tr>
                    <td colspan="3"> <span class="bold" >Username:</span><span class="righta"> {{user.1}} </span></td>
                </tr>
                <tr>
                    <td colspan="3"> <span class="bold">Name:</span> {{user.2}} </td>
                </tr>
                <tr>
                    <td > <span class="bold">Email:</span> {{user.8}} <span class="tab"></span></td>
                    <td colspan="2"><span class="bold">Phone no.:</span> {{user.9}} </td>
                </tr>

                <tr>
                    <td class="sp"><span class="bold">Address:</span><p>{{ user.4 }}, {{ user.5 }}<br />{{ user.6 }}, {{ user.7 }}<br />{{ user.0 }}</p></td>
                <td class="sp">
                </td>
                <td class="sp">
                </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
    <h2>Present Orders: </h2>
    <div class="b">
        {% for order in present_order %}
        <div class="order_details_table">
            <h3>Order ID: {{order.0}}</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>{{order.1}}</p>
                            </td>
                            <td>
                                <h5>x {{order.2}}</h5>
                            </td>
                            <td>
                                <p>₹{{order.3}}</p>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>


    <h2>Past Orders: </h2>
    {% for order in past_order %}
        <div class="order_details_table">
            <h3>Order ID: {{order.0}}</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>{{order.1}}</p>
                            </td>
                            <td>
                                <h5>x {{order.2}}</h5>
                            </td>
                            <td>
                                <p>₹{{order.3}}</p>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock body %}